body {
    background-color: #333;
    color: #fff;
}

.collection .collection-item {
    background-color: #666;
}

#console {
    height: 500px;
    background-color: #000;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Courier New";
}

.materialize-textarea {
    color: #fff;
}

.dropdown-content li {
    color: #fff;
}
