body {
    background-color: #333;
    color: #fff;
}

.collection .collection-item {
    background-color: #666;
}

#terminal {
    height: 500px;
    background-color: #000;
    font-family: "Courier New";
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}

#terminal-window {
    max-height: inherit;
    padding: 0 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

#terminal-text {
    max-height: inherit;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-anchor: none;
}

#terminal-scroll-anchor {
    padding: 0px;
    overflow-anchor: auto;
    height: 1px;
}

#terminal-info {
    padding: 0 10px;
    color: black;
    font-weight: bold;
    display: block;
    width: 100%;
    height: auto;
    background-color: #999;
}

#terminal-error-container {
    display: grid;
}

#terminal-error {
    padding: 0 10px;
    border-bottom: 1px black solid;
    color: black;
    font-weight: bold;
    width: 100%;
    height: auto;
    background-color: #f88;
}

.materialize-textarea {
    color: #fff;
}

.dropdown-content li {
    color: #fff;
}

input {
    color: #fff;
}
